aiohttp
channels
faiss_cpu
fire
typer
lancedb
loguru
meilisearch
numpy
openai
openpyxl
beautifulsoup4
pandas
pydantic
python_docx
PyYAML
setuptools
tenacity
tiktoken
tqdm
anthropic
typing-inspect
libcst
qdrant-client
ta
semantic-kernel
wrapt
aioredis # Used by metagpt/utils/redis.py
websocket-client
aiofiles
gitpython
zhipuai
rich
nbclient
nbformat
ipython
ipykernel
scikit_learn
typing-extensions
socksio
gitignore-parser
websockets
networkx
google-generativeai
playwright # Used at metagpt/tools/libs/web_scraping.py
anytree
ipywidgets
Pillow
imap_tools # Used by metagpt/tools/libs/email_login.py
qianfan
dashscope
rank-bm25 # for tool recommendation
jieba # for tool recommendation
volcengine-python-sdk[ark] # Solution for installation error in Windows: https://github.com/volcengine/volcengine-python-sdk/issues/5
# llama-index-vector-stores-elasticsearch # Used by `metagpt/memory/longterm_memory.py`
# llama-index-vector-stores-chroma # Used by `metagpt/memory/longterm_memory.py`
gymnasium
boto3
spark_ai_python
agentops
tree_sitter
tree_sitter_python

### Packages added by Jason ###
jsonpickle
matplotlib
networkx
psutil
pydot
pytz
ruamel.yaml
simplejson
pathos
retry
wrapt_timeout_decorator
gdown
seaborn
# git+https://github.com/jasonzliang/autogen.git
# git+https://github.com/evalplus/evalplus.git
